@import "tailwindcss";

button {
    @apply active:scale-102 transition-all ease-in-out cursor-pointer;
}

nav ul a {
    @apply hover:text-green-600;
}

a.active {
    @apply md:text-green-700;
}

a.active {
    @apply underline;
}